* {
  margin: 0;
  padding: 0;
}

/* Corpo */

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 32px auto;
  padding: 0 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9c8;
}

/* Cabeçalho */

header {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 2px solid #0077b6;
}

/* Imagem de perfil s */
img {
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(106, 105, 105);
}

/* Seções de apresentação */

section {
  background: white;
  padding: 16px 24px;
  margin: 24px 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px #333;
}

/* Rodapé */

footer {
  text-align: center;
  font-size: 15px;
  color: #777;
  margin-top: 32px;
}

/* Links de redes sociais */
nav a {
  display: inline-block;
  margin-right: 16px;
  font-size: 32px;
  color: #0077b6;
}
